.App {
  text-align: center;
  max-width: 550px;
  margin: 0px auto;
}
html {
  margin: 0;
}

ul {
  margin: 0;
}
.navbar-item {
  color: #808080;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 1rem;
  height: 100%;
  cursor: pointer;
}

.active {
  color: #fff;
  background-color: #a44223;
}
